.c-categories-statistics {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;

    @variant min-lg {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @variant min-xl {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @variant min-xxxl {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}