.c-error {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    height: 100%;
    margin-inline: auto;
    padding: 20px;

    color: var(--color-secondary);
    text-align: center;

    .p-company &,
    .p-dashboard & {
        border-radius: 4px;
        background-color: var(--color-gray-200);
    }

    &__title {
        font-size: 128px;
        font-weight: 700;
        line-height: 1;
    }

    &__subtitle {
        font-size: var(--text-5xl);
        font-weight: 700;
        line-height: 1.2;
    }

    &__text {
        font-size: var(--text-md);
        line-height: 1.2;
    }
}