/* Tailwind */
@import 'tailwindcss';
@import '../theme/base.css';

/* Base */
@import '../base/reset.css' layer(base);

/* Parts */
@import '../parts/header/header.css' layer(base);
@import '../parts/sidebar/sidebar.css' layer(base);
@import '../parts/toolbar/toolbar.css' layer(base);

/* Layouts */
@import '../layouts/container.css' layer(utilities);

/* Components */
@import '../components/logo.css' layer(components);
@import '../components/loader.css' layer(components);
@import '../components/button.css' layer(components);
@import '../components/error-404.css' layer(components);
@import '../components/data-not-found.css' layer(components);
@import '../components/forms/base.css' layer(components);
@import '../components/forms/field.css' layer(components);
@import '../components/forms/select.css' layer(components);
@import '../components/forms/date-picker.css' layer(components);
@import '../components/auth-form-block.css' layer(components);
@import '../components/company-form-block.css' layer(components);
@import '../components/promotion-form-block.css' layer(components);
@import '../components/badge.css' layer(components);
@import '../components/companies-table.css' layer(components);
@import '../components/promotions-list.css' layer(components);
@import '../components/general-statistics.css' layer(components);
@import '../components/categories-statistics.css' layer(components);
@import '../components/countries-statistics.css' layer(components);
@import '../components/summary-table.css' layer(components);
@import '../components/modal.css' layer(components);
@import '../components/cards/dashboard-card.css' layer(components);
@import '../components/cards/company-details-card.css' layer(components);
@import '../components/cards/promotion-card.css' layer(components);
@import '../components/cards/promotion-details-card.css' layer(components);
@import '../components/cards/general-statistics-card.css' layer(components);
@import '../components/cards/category-statistics-card.css' layer(components);

/* Utilities */
@import '../utilities/base.css';