.l-container {
    @apply container;

    --gap: 20px;

    margin-inline: auto;
    padding-inline: var(--gap);

    &--small,
    &--medium,
    &--large {
        margin-inline: auto;
        padding-inline: 0;
    }

    &--small {
        @variant min-md {
            max-width: var(--breakpoint-md);
        }
    }

    &--medium {
        @variant min-lg {
            max-width: var(--breakpoint-lg);
        }
    }

    &--large {
        @variant min-xl {
            max-width: var(--breakpoint-xl);
        }
    }

    &--full {
        max-width: 100%;
        margin-inline: auto;
        padding-inline: var(--gap);
    }
}