*,
*::before,
*::after {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    transition-property: none;
}

html {
    height: 100%;
}

body {
    scroll-behavior: smooth;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-size-adjust: 0.5;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    color: var(--color-secondary);
    text-size-adjust: 100%;
    text-rendering: optimizelegibility !important;

    background-color: var(--color-primary);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

main {
    display: flex;
    flex-grow: 1;
    max-height: calc(100vh - 60px);
}

button {
    cursor: pointer;
}

picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}